.postbox h3 span { 
	color: #aaa;
	display: none;
	float: right;
	}

.postbox h3:hover span, span.watchingyou {
	color: #aaa;
	display: inline-block;
	float: right;
	}
.postbox.warning h3:hover span {
	display: none !important;
	}
.postbox.warning h3:hover span.hide {
	color: #aaa;
	display: inline-block;
	float: right;
	}
#uninstall.postbox h3 span.hide {
	display: none !important;
	} 

.postbox h3:hover { 
	cursor: pointer;
	cursor: n-resize;
	}

a.question, a.addrows {
	font-weight: bold;
	text-decoration: none;
	}
a.question:hover, a.addrows:hover {
	cursor: pointer;
	}
textarea#cl_login_custom_html_code, textarea#cl_login_custom_code {
	display: block;
	}